@import "../../assets/css/constants.css";

.dark{
    background-color: var(--darkModeLightBlack) !important;
    color: var(--darkModeGray) !important;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
}

.mainMenu{
    background-color: var(--white);
    padding: 40px var(--paddingTotal);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navLink{
        color: var(--black);
        i{
            padding-left: 10px !important;
        }
    }
    .iconsMenu{
        font-size: 25px;
        cursor: pointer;
    }
    .leftMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        .titleImage{
            width: 100%;
        }
    }
    .rightMenu{
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 30px;
        .menus{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;
            margin: 0;
            list-style-type: none;
            padding: 0;
        }
        .iconsMenuRight{
            padding: 0;
            display: flex;
            align-items: center;
            margin: 0;
            list-style-type: none;
            gap: 13px;
        }
    }
}
.hamburger{
    display: none;
    color: var(--red) !important;
    cursor: pointer;
}

@media (max-width : 1200px){
    .menus{
        display: none !important;
    }
    .hamburger{
        display: inline !important;
    }
}
@media (max-width : 576px){
    .leftMenu{
        .titleImage{
            width: 40% !important;
            position: absolute !important;
            left:30% !important;
        }
    }
    .iconsMenuRight{
        display: none !important;
    }
    .darkMenu{
        padding: 25px var(--paddingTotal) !important;
    }
    .lightMenu{
        padding: 25px var(--paddingTotal) !important;
    }
}
