.dark{
    background-color: var(--darkModeLightBlack) !important;
    .dropdownItem{
        color: var(--darkModeGray) !important;
    }
}
.dark.dropdownMenu{
    border-color: var(--lightestBlak) !important;
}



.navLink{
    i{
        padding-left: 10px;
    }
}
.dropdownMenu{
    border: 1px var(--gray) solid !important;
    border-radius: 0 !important;
}
.shiftleft{
    right: 0% !important;
}
.dropdownItem{
    color: var(--black);
    text-align: left !important;
    font-size: 14px !important;
    padding: 12px 35px !important;
}
.dropdownItem:hover{
    background-color: transparent !important;
}
.iconsMenu{
    font-size: 25px;
    padding-left: 0 !important;
    cursor: pointer;
}