@import "../../assets/css/constants.css";

.darkMenu{
    padding: 40px var(--paddingTotal);
    overflow: hidden;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color: var(--darkModeLightBlack) !important;
    .nav-link{
        color: var(--darkModeGray) !important;
    }
    .iconsMenu{
        color: var(--darkModeGray);
    }
}
.lightMenu{
    padding: 40px var(--paddingTotal);
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    background-color: var(--white) !important;
    .nav-link{
        color: var(--black) !important;
    }
}
#mainMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iconsMenu{
        font-size: 25px;
    }
    #leftMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        #titleImage{
            width: 100%;
        }
    }
    #rightMenu{
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        gap: 30px;
        #menus{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;
            margin: 0;
            list-style-type: none;
            padding: 0;
        }
        #iconsMenu{
            padding: 0;
            display: flex;
            align-items: center;
            margin: 0;
            gap: 13px;
        }
    }
}
.hamburger{
    display: none;
    color: var(--red) !important;
    cursor: pointer;
}

@media (max-width : 1200px){
    #menus{
        display: none !important;
    }
    .hamburger{
        display: inline !important;
    }
}
@media (max-width : 576px){
    #leftMenu{
        #titleImage{
            width: 40% !important;
            position: absolute !important;
            left:30% !important;
        }
    }
    #iconsMenu{
        display: none !important;
    }
    .darkMenu{
        padding: 25px var(--paddingTotal) !important;
    }
    .lightMenu{
        padding: 25px var(--paddingTotal) !important;
    }
}
