@import '../fonts/font.css';

@import 'all/icons/font-awesome/css/fontawesome-all.css';
body{
  direction: ltr !important;
  font-family: Lato,sans-serif !important;
  box-sizing: border-box !important;
  letter-spacing: 0.8px;
  background-image: url("https://multikart-react.vercel.app/assets/images/parallax/1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-fluid{
  padding: 0 !important;
}
.nav-item{
  position: relative !important;
}
.dropdown-menu{
  border: 1px var(--gray) solid !important;
  border-radius: 0 !important;
}
.shiftleft{
  right: 0 !important;
}
.dropdown-item{
  color: var(--black);
  text-align: left !important;
  font-size: 14px !important;
  padding: 12px 35px !important;
}
.dark{
  background-color: var(--darkModeLightBlack) !important;
  color: var(--gray) !important;

  .nav-link{
      color: var(--darkModeGray) !important;
  }
  .iconsMenu{
      color: var(--darkModeGray) !important;
  }
  .nav-menu{
    background-color: var(--black) !important;
  }
  .navbar-toggle {
    background-color: var(--black) !important;
  }
  .nav-text {
    color: var(--white) !important;
  }
  .menu-bars{
    color: var(--white) !important;
  }
  .dropdown-item{
    color: var(--darkModeGray) !important;
  }
}
