@import '../fonts/font.css';

@import 'all/icons/font-awesome/css/fontawesome-all.css';
body{
  direction: ltr !important;
  font-family: Lato,sans-serif !important;
  box-sizing: border-box !important;
  letter-spacing: 0.8px;
  background-image: url("https://multikart-react.vercel.app/assets/images/parallax/1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid{
  padding: 0 !important;
}
.css-jcn4dz-MuiBadge-badge{
  background-color: #ff4c3b !important;
}
.css-1m9128y {
  display: none;
}