@import "../fonts/font.css";

@import "all/icons/font-awesome/css/fontawesome-all.css";

body {
  direction: ltr !important;
  font-family: Lato, sans-serif !important;
  box-sizing: border-box !important;
  letter-spacing: 0.8px;
  background-image: url("https://multikart-react.vercel.app/assets/images/parallax/1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.css-jcn4dz-MuiBadge-badge {
  background-color: #ff4c3b !important;
}
.css-1m9128y {
  display: none;
}

.hoverItem {
  display: block;
  position: relative;
}

.hoverItem:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hoverItem:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}