.MainFooter{
    p{
        padding-top: 18px;
        padding-right: 80px;
        color: var(--darkGray);
        font-size: 14px;
        line-height: 30px;
    }
    .icons{
        span{
            padding-right: 10%;
            display: inline;
        }
        padding-bottom: 20px;
    }
    h4{
        font-weight: bolder;
        font-size: 16px;
        margin-bottom: 25px;
    }
    ul{
        list-style-type: none;
        padding: 0 !important;
        font-size: 14px;
        li{
            position: relative;
            padding-top: 13px;
            color: var(--darkGray);
        }
        .hoverItem{
            display: inline-block;
            position: relative;
        }
                
        .hoverItem:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: var(--red);
            transform-origin: bottom right;
            transition: transform 0.40s ease-out;
        }
        
        .hoverItem:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
    ul.information{
        li{
            padding-left: 25px;
            i{
                position: absolute;
                left:0  !important;
                top:16px !important;
            }
        }
    }
}

@media (max-width : 991px){
    .MainFooter{
        h4{
            margin-bottom: 15px !important ;
        }
    }
}
@media (max-width : 767px){
    .MainFooter{
        h4{
            border-bottom: 1px var(--darkModeGray) solid;
            margin-bottom: 0px !important ;
            padding-bottom: 8px !important;
        }
        ul{
            li{
                padding-top: 5px !important;
                i{
                    top: 8px !important;
                }
            }
        }
    }
}