@import "../../../assets/css/constants.css";

.dark{
    .text{
        border-right: 2px var(--darkModeLightBlack) solid !important;
    }
    form{
        input{
            background-color: var(--darkModeLightBlack) !important;
            border: 1px solid var(--darkGray) !important;
        }
    }
}

.text{
    h1{
        font-size: 18px;
        font-weight: bolder;
    }
    h4{
        font-size: 14px;
        color: var(--darkGray);
    }
    border-right: 1px var(--darkModeGray) solid;
}

form{
    text-align: right;
    input{
        height: 52px;
        width: 222px;
        border: 1px solid var(--darkModeGray) !important;
        padding: 13px;
    }
    .subscribeButton{
        margin-left: 15px;
        padding: 6px 12px;
        height: 50px;
        width: 150px;
        border-radius: 0 !important;
        background-color: var(--red) !important;
        color: var(--white) !important;
        font-weight: bold;
    }
    .subscribeButton:hover{
        background-color: var(--white) !important;
        color: var(--black) !important;
        border: 2px var(--red) solid;
    }
}



@media (max-width : 991px){
    form{
        text-align: center !important;
        padding-top: 10px;
    }
    .text{
        border: none !important;
        text-align: center !important;
        h1{
            font-size: 16px !important;
        }
        h4{
            display: none !important;
        }
    }
}
@media (max-width : 576px){
    .subscribeButton{
        margin-left: 0 !important;
    }
}
@media (max-width : 430px){
    form{
        input{
            width: 280px !important;
        }
        .subscribeButton{
            margin-top: 10px !important;
            width: 108px !important;
            height: 38px !important;
            font-size: 12px;
        }
    }
}