:root {
    --lightGray: #f9f9f9;
    --darkGray: #999999;
    --white: #ffffff;
    --red: #ff4c3b;
    --black: #222222;
    --darkModeBlack: #232323;
    --darkModeLightBlack: #2b2b2b;
    --lightestBlack: #3a3a3a;
    --darkModeGray: #cfd4da;
    --paddingTotal: 5%;
    --font: Lato,sans-serif !important;

  }