@import "../../assets/css/constants.css";

.dark{
    background-color: var(--black) !important;
    color: var(--gray) !important;
}
.Header{
    background-color: var(--gray);
    padding: 15px var(--paddingTotal);
    .navbar {
        padding: 0;
        justify-content: space-between;
        background-color: transparent;
        .rightHeader{
            display: flex;
            flex-direction: row;
        }
        .navItem {
            padding: 0 !important;
            margin-right: 1rem;
            .navLink{
                color: var(--darkGray) ;
                font-size: 14px;
                padding: 0 !important;
            }
            .navLink i{
                color: inherit ;
                transform: scaleX(-1);
                font-size: 0.7rem;
                margin-right: 0.5rem;
            }
            .navLink i.heart{
                color: var(--red) !important;
            }
            .navLink:hover{
                i{
                color: var(--red) !important;
                }
            }
        }
        .navItem:last-child{
            margin-right: 0 !important;
        }
        
    }
}


@media (max-width : 1200px){
    .leftHeader{
        display: none !important;
    }
    .Header{
        .navbar {
            justify-content: flex-end !important;
        }
    }
}
@media (max-width : 576px){
    .Header{
        display: none !important;
    }
}