
.dark{
    background-color: var(--darkModeLightBlack) !important;
    color: var(--gray) !important;
    .box{
        border-color: var(--lightestBlak) !important;
        form{
            input{
                background-color: var(--darkModeLightBlack) !important;
                border: 1px solid var(--lightestBlak) !important;
                color: var(--white) !important;
            }
        }
    }
}

.content{
    padding: 40px var(--paddingTotal);
    background-color: var(--white);
    .titleBox{
        font-size: 24px;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    .box{
        min-height: 336px !important;
        padding: 30px;
        border: 1px var(--darkModeGray) solid;
        form{
            text-align: left !important;
            div{
                margin-bottom: 30px;
                label{
                    font-size: 14px;
                    font-weight: bolder;
                    margin-bottom: 8px;
                }
                input{
                    border-radius: 0 !important;
                    padding: 17px 25px !important;
                    font-size: 12px;
                }
            }
        }
        .LoginButton{
            padding: 13px 29px;
            height: 50px;
            min-width: 150px;
            border-radius: 0 !important;
            background-color: var(--red) !important;
            color: var(--white) !important;
            font-weight: bold;
            font-size: 14px;
        }
        .LoginButton:hover{
            background-color: var(--white) !important;
            color: var(--black) !important;
            border: 2px var(--red) solid;
        }
        .title{
            font-size: 14px;
            font-weight: bolder;
            margin-bottom: 22px;
        }
        .content{
            background-color: inherit;
            padding: 0 !important;
            font-size: 14px;
            color: var(--darkGray);
            line-height: 26px;
        }
        a{
            margin: 0 !important;
        }
    }
}


@media (max-width : 991px){
    .titleBox{
        margin-top: 20px !important;
    }
}