@import "../../assets/css/constants.css";

.dark{
    background-color: var(--darkModeLightBlack) !important;
    color: var(--gray) !important;
}
.setting{
    background-color: var(--gray);
    position: fixed;
    width: 37px;
    padding: 5px 2px;
    font-size: 110%;
    text-align: center;
    right: 0;
    top: 43%;
    z-index: 100;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    box-shadow: 0 0 5px 0 hsl(0deg 0% 60% / 54%);
    cursor: pointer;
}
.themeMode{
    background-color: var(--gray);
    position: fixed;
    width: 37px;
    padding: 5px 2px;
    font-size: 90%;
    right: 0;
    top: 50%;
    z-index: 100;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    box-shadow: 0 0 5px 0 hsl(0deg 0% 60% / 54%);
    cursor: pointer;
}
