@import "../../../assets/css/constants.css";

.dark{
  .navMenu{
    background-color: var(--black) !important;
  }
  .navbarToggle {
    background-color: var(--black) !important;
  }
  .navText {
    color: var(--white) !important;
  }
  .menuBars{
    color: var(--white) !important;
  }
}

.Hamburger{
  .navbar {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .menuBars {
    color: var(--black);
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    text-decoration: none !important;
    p{
      font-family: var(--font);
      font-size: 18px;
      font-weight: bold;
      text-align: right !important;
      display: inline;
    }
  }
  
  .navMenu {
    background-color: var(--white);
    width: 250px;
    height: 200vh;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    border: 0.8px var(--darkGray) solid;
    right: -100%;
    transition: 850ms;
    cursor: text;
  }
  
  .navMenu.active {
    right: 0;
    transition: 350ms;
  }
  
  .navText {
    color: var(--black);
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
    list-style: none;
    width: 100%;
    cursor: text;
  }
  .navText .title{
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    gap: 50px;
  }
  
  .navText:hover {
    color: var(--red) !important;
  }
  
  .navMenuItems {
    width: 100%;
    padding: 0;
  }
  
  .navbarToggle {
    background-color: var(--white);
    width: 100%;
    padding-right: 8%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px var(--gray) solid;
  }
 
}
.subItem{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 !important;
  .navText {
    color: var(--black);
    font-size: 14px !important;
    font-weight: normal !important;
    font-family: var(--font);
    padding: 8px 10px !important;
  }
}